body {
            background-color: #000;
            color: #fff;
            padding: 20px;
        }
        h2 {
            color: #ff6600;
            text-align: center;
            margin-bottom: 30px;
        }
        form {
            background-color: #1c1c1c;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
        }
        .btn-submit {
            background-color: #ff6600;
            color: #fff;
        }
        .btn-submit:hover {
            background-color: #e65c00;
        }
        .card-member {
            background-color: #1c1c1c;
            border: 1px solid #444;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .card-member h5 {
            color: #ff6600;
        }
        .card-member p {
            color: #fff;
        }
        .card-text {
            color:white
        }