* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}
.title {
    color:#ff6600;
    text-align: center;
    padding: 10px;
}
.slidedown {
    animation: slidedown;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition: 0.4s all ease;
}
@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideup {
    animation: slideup;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition: 0.4s all ease;
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.background {
    position: relative; 
    width: 100%;
    height: 85vh; 
    overflow: hidden;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.prg {
    color: white;
}

.sec {
    background-color: black;

}

.h {
    color: #e3994a;
}

.CARD {
    color: #ff6600;
    transition: all ease 0.3s;
    border: 2px solid transparent;
    background-color: #1a1a1a;
}

.CARD:hover {
    transform: scale(1.05);
    border-color: #ff6600;
    box-shadow: 0 0 10px #e3994a;
    transform: translateY(-5px);
}

.k-sec {
    color: #e3994a;
}

.btn {
    background-color: transparent;
    border: none;
    color: #ff6600;
    border: 1.5px #ff6600 solid;
    transition: 0.3s ease;
}

.btn:hover {
    border: white 1.5px solid;
    color:#ff6600;
    transform: scale(1.05);
}

ul li::marker {
    color:#ff6600;
}

.slideleft {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.slideleft.show {
    opacity: 1;
    transform: translateX(0);
}

.pro-p {
    color: white;
}

.focus {
    color: #ff6600;
}

.slideright {
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 1s ease, transform 1s ease;
}

.slideright.show {
    opacity: 1;
    transform: translateX(0);
}

.a {
    color: #ff6600;
}

.a-slideright {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.a-slideright.show {
    opacity: 1;
    transform: translateX(0);

}

.a-slideleft {
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 1s ease, transform 1s ease;
}

.a-slideleft.show {
    opacity: 1;
    transform: translateX(0);

}

.adult-list {
    color: white;
}

.a-button:hover {
    background: transparent;
}

hr {
    color: white;
}

h3{
    color:#ff6600;
}
.m-title {
    color:#ff6600;
}
.card{
    transition: all 0.3s ease;
    border: 2px solid;
    background-color: #1a1a1a;

}
.card:hover{
    box-shadow: 0 0 10px rgb(227, 153, 74);
    border-color: #ff6600;
    transform: scale(1.02);
}
.t-title{
    color:#ff6600;
}
.t-card{
    background-color: #1a1a1a;
}
thead{
    background-color: rgba(215, 119, 17, 0.6);
}
.table-title{
    color: #e3994a;
}
table td{
    color: white;
}
.c-name{
    color: #e3994a;
}
hr{
    color: #ff6600;
}