* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vh;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter:brightness(0.5)
}

.banner-h {
    color: #ff6600;
}

.slidedown {
    animation: slidedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 0.4s ease;
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.slideup {
    animation: slideup;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 0.4s ease;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.container {
    color: #ff6600;
}
.btn {
    color: #ff6600;
    border: 1px solid #ff6600;
    background-color: transparent;
    transition: 0.3s ease;
}

.btn:hover {
    background-color:#ff6600;
    color: black;
}

.img-fade {
    opacity: 0;
    transition: opacity 0.4s ease, transform 1s ease;
    transform: translateY(30px);
    transition-delay: 0.3s;
}

.img-fade.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.focus {
    color: #ff6600;
}

.cat-card {
    background-color: #1a1a1a;
    transition: 0.5s ease;
    border: 2px solid transparent;
    border-radius: 20px;
}

.cat-card:hover {
    background: rgba(230, 166, 27, 0.1);
    border-color: #ff6600;
}

.con-st {
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: 0.3s ease;
   
}
.con-st:hover{
    background: rgba(230, 166, 27, 0.1);
     box-shadow: 0 0 14px #ff6600; 
    transform: scale(1.03); 
    
}
.con-st img {
    height: 220px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    position: relative;
}